.root {
  .row {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .webinarsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .program {
    .programTop {

    }

    .section {

    }

    .name {

    }

    .date {

    }

    .webinarCount {

    }

    .programBottom {

    }

    .price {

    }
  }

}

